  .outlinedButton {
    border-color:#7ca6c06d !important;
    color: #ffffffb4 !important;
    background-color: #7ca6c06d !important;
    padding: 10px!important;
  }
  .outlinedButton:hover {
  border-color:#7ca6c06d !important;
  color: #ffffffb4 !important;
  background-color: #7ca6c06d !important;
 }
  .cursor{
    cursor: pointer;
  }
  img{
    width: 40px;
    margin-right: 20px;
  }
  .titulo-blog{
    color: whitesmoke;
    font-size: 16px;
    font-weight: bold;
    margin-right: 400px ;
  }
.navbar{
  position:relative;
}
/* .nav-estrutura{
  justify-content
  
} */
.menu-nav{
  display:flex;
  justify-content:flex-end;
}
 
