.titulo{
  color:#080c14ec;
  text-align: center;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace !important;
  
}
.boasvindas{
  padding:2rem;
  background-color: whitesmoke;
}
.botoes{
  display:flex;
  justify-content:center;
  margin-top: 30px;
  margin-left: 200px;
  background-color: rgba(0, 0, 0, 0.459);
  max-width: 300px;
}
.botoes-color{
  color: blanchedalmond !important;
}
.gridconf{
  direction:row ;
  justify-content: center;
  align-items:center;
  min-height:100vh;
  margin-top: 150px;
}
/*.gradient-home {
  --size: 400px;
  --speed: 10s;
  --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);
  width: var(--size);
  height: var(--size);
  filter: blur(calc(var(--size) / 9));
  background-image: linear-gradient(rgba(55, 235, 169, 0.85) , #5b37eb );
  animation: rotate var(--speed) var(--easing) infinite alternate;
  border-radius: 70% 80% 70% 50%/30% 50% 40% 90%;
}*/
.imag-home{
  background-image: url("https://images8.alphacoders.com/484/thumb-1920-484717.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 1px 3px 50px #628fe29c;
}