.topo{
  margin-top: 50px;
  border-radius: 50px;
  background-image: linear-gradient(93deg, #d4d9eef1 8%, #a8c5ed9f 89%);
  padding: 2rem;
  width: 400px;
  box-shadow: 2px 5px 20px #b9c0f7;
  margin-right: 200px;
  margin-top: 40px;
    
}
