
.texto2{
    font-weight:bold !important;
    color:#7380e9;
    margin-bottom: 20px !important;
}
.button-01 {
    margin-top: 10px !important;
    background: linear-gradient(275deg, #b8b7b5d1 8%, #a8c5ed9f 89%);
  }
  .button-01:hover {
    background: linear-gradient(275deg, #b8b7b5d1 8%, #a8c5ed9f 89%);
  }
  .button-02 {
    margin-top: 20px !important;
    background: linear-gradient(275deg, #b8b7b5d1 8%, #a8c5ed9f 89%);
  }
  
  .button-02:hover {
    background: linear-gradient(275deg, #b8b7b5d1 8%, #a8c5ed9f 89%);
  }
  .EstiloFom{
  border-radius: 50px;
  background-image: linear-gradient(93deg, #fffffff1 8%, #a8c5ed9f 89%);
  padding: 2rem;
  width: 400px;
  box-shadow: 2px 5px 20px #b9c0f7;
  margin-right: 200px;
  margin-top: 40px;
    
  }
  .formato{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 10px;
  }
  .gradient-cadastro{
    --size: 400px;
    --speed: 10s;
    --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);
    width: var(--size);
    height: var(--size);
    filter: blur(calc(var(--size) / 9));
    background-image: linear-gradient(rgba(55, 235, 169, 0.85) , #5b37eb );
    animation: rotate var(--speed) var(--easing) infinite alternate;
    border-radius: 70% 80% 70% 50%/30% 50% 40% 90%;
  }
  
