.text-decorator-none{
    text-decoration: none;
}
.tab-style{
    position:static !important;
    width: 100% !important;
    background-color: rgba(18, 83, 204, 0.411) !important;
}
.labol-01{
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    width: 1225px !important;
}

.titulo-sobre{
    font-size: 2rem;
    text-align: center;
    margin-top: -20px !important;
    margin-bottom: 30px !important;
}
.text-sobre{
    text-align: center;
    font-size: 2rem;
    
}
